$break-point: 768px;

.card__button {
  min-width: 170px;
  padding: 1em;

  font-size: 0.9rem;
  font-weight: 800;

  border-radius: 1.5em;
  background-color: var(--Dark-Desaturated-Blue);
  color: var(--Pale-Blue);
  border: none;
  outline: none;
  @media screen and (min-width: $break-point) {
    &:hover {
      cursor: pointer;
    }
  }
}
