form.card 
  .card__body
    p.card__pages 100K 
      span.card__pages-text Pagesviews
    input.card__range(type="range" max="4" aria-label="Select plan")
    p.card__prices $16 
      span.card__prices-text / month
    .card__pricing
      label.card__pricing-monthly(for="pricingcontrol") Monthly Billing
      input.card__pricingcontrol#pricingcontrol(type="checkbox")
      label.card__pricing-yearly(for="pricingcontrol") Yearly Billing
        span.card__pricing-yearly-discount -25% 
          span.card__pricing-yearly-discount--text discount
  .card__footer
    ul.functions
      li.functions__item Unilimited web sites
      li.functions__item 100% data ownership
      li.functions__item Email reports
    button.card__button(type="submit") Start my trial