form.card 
  .card__body
    p.card__pages 
      span.card__pages-text Pagesviews
    input.card__range(type="range" max="5" aria-label="Select plan")
    p.card__prices $ 
      span.card__prices-text /month
    .card__pricing
      label.card__pricing-monthly(for="pricingcontrol") Monthly Billing
      input.card__pricingcontrol#pricingcontrol(type="checkbox")
      label.card__pricing-yearly(for="pricingcontrol") Yearly Billing
  .card__footer
    ul.functions
      li.functions__item Unilimited web sites
      li.functions__item 100% data ownership
      li.functions__item Email reports
    button(type="submit") Start my trial