form.card 
  .card__body
    .card__output#cardoutput(role="status" aria-live="polite" aria-atomic="true" aria-relevant="all")
      .card__pages#cardpages 100K 
        span.card__pages-text Pagesviews
      .card__prices#cardprices $16.00 
        span.card__prices-text / month
    input.card__range#cardrange(max="4" aria-label="Select plan" aria-controls="cardoutput" type="range")
    .card__pricing
      label.card__pricing-monthly Monthly Billing
      input.card__pricingcontrol#pricingcontrol(type="checkbox" aria-label="Yearly billing, 25% discount")
      label.card__pricing-yearly(for="pricingcontrol") Yearly Billing
        span.card__pricing-yearly-discount -25% 
          span.card__pricing-yearly-discount--text discount
  .card__footer
    ul.functions
      li.functions__item Unilimited web sites
      li.functions__item 100% data ownership
      li.functions__item Email reports
    button.card__button(type="submit") Start my trial